/* line 5, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/ruby3arabi.css.scss */
#editor-container {
  height: 250px;
  width: 100%;
}

/* line 9, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/ruby3arabi.css.scss */
#editor {
  width: 100%;
  height: 100%;
  position: relative;
}

/* line 14, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/ruby3arabi.css.scss */
.ace_scroller {
  background-color: #000 !important;
}

/* line 17, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/ruby3arabi.css.scss */
.ace_gutter {
  background-color: #000 !important;
  border-right: 1px solid #666;
}

/* line 21, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/ruby3arabi.css.scss */
.ace_active_line {
  background: none !important;
}

/* line 24, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/ruby3arabi.css.scss */
.ace_print_margin {
  background: none !important;
}

/* line 28, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/ruby3arabi.css.scss */
.main-img {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 200px;
  height: 200px;
}

/* line 36, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/ruby3arabi.css.scss */
.img-name {
  position: absolute;
  height: 0;
  width: 190px;
  background: rgba(0, 0, 0, 0.45);
  overflow: hidden;
  bottom: 0px;
  left: 0px;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -o-transition: height 0.5s;
  -ms-transition: height 0.5s;
  transition: height 0.5s;
  color: #fff;
  line-height: 50px;
  font-size: 1.3em;
}
/* line 53, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/ruby3arabi.css.scss */
.img-name .set-margin-bottom-to-zero {
  margin-top: 88px;
}

/* line 58, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/ruby3arabi.css.scss */
.main-img:hover .img-name {
  height: 200px;
}

/* line 62, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/ruby3arabi.css.scss */
.thank-img {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 125px;
  height: 125px;
}

/* line 70, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/ruby3arabi.css.scss */
.thank-name {
  position: absolute;
  height: 0;
  width: 115px;
  background: rgba(0, 0, 0, 0.45);
  overflow: hidden;
  bottom: 0px;
  left: 0px;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -o-transition: height 0.5s;
  -ms-transition: height 0.5s;
  transition: height 0.5s;
  color: #fff;
  line-height: 50px;
  font-size: 1em;
}
/* line 87, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/ruby3arabi.css.scss */
.thank-name p {
  margin-top: 56px;
}

/* line 92, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/ruby3arabi.css.scss */
.thank-img:hover .thank-name {
  height: 125px;
}
/* line 5, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/ruby_tutorial.css.scss */
.index-link {
  color: #111111;
}

/* line 9, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/ruby_tutorial.css.scss */
.index-link:hover {
  color: #b00015;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
@import url(fonts.css);
@import url(bootstrap.min.css);
@import url(bootstrap.css);
@import url(shCoreEclipse.css);
@import url(shThemeEclipse.css);
@import url(glyphicons.css);
@import url(glyphicons-social.css);
/* line 26, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
html {
  height: 100%;
}

/* line 30, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body {
  height: 100%;
  direction: rtl;
  background: #b91908;
  background-image: url("bg/first-bg.png"), url("bg/second-bg.png");
  background-repeat: repeat-x, repeat;
}
/* line 38, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body blockquote, body p, body .lists {
  font-family: 'DroidKufi-Regular';
  line-height: 200%;
}
/* line 42, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body blockquote strong, body p strong, body .lists strong {
  font-family: 'DroidKufi-Bold';
}
/* line 47, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .lists-without-line-height {
  font-family: 'DroidKufi-Regular';
}
/* line 50, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .lists-without-line-height strong {
  font-family: 'DroidKufi-Bold';
}
/* line 55, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body #footer {
  width: 100%;
  height: 52px;
  position: absolute;
  bottom: 0 !important;
  left: 0;
  background-color: #222222;
  color: #9d9d9d;
  margin: 0 !important;
  padding-bottom: 0 !important;
  border: 0;
  border-top: solid 1px #080808;
}
/* line 68, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body #footer a {
  color: #9d9d9d;
}
/* line 73, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body #title {
  margin-bottom: 20px;
  margin-top: 0px;
  font-family: 'DroidKufi-Bold';
}
/* line 79, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .container-fluid {
  min-height: 100%;
  position: relative;
}
/* line 83, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .container-fluid .row .col-md-8 {
  padding-top: 18px;
  padding-bottom: 50px;
}
/* line 89, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .panel-primary {
  direction: ltr;
}
/* line 92, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .panel-primary .panel-heading {
  font-family: 'Open-Sans-700';
}
/* line 97, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .panel-danger .panel-heading {
  font-family: 'DroidKufi-Bold';
}
/* line 101, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .img-border {
  border: 5px solid rgba(153, 153, 153, 0.3);
}
/* line 105, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .img-border:hover {
  border: 5px solid rgba(153, 153, 153, 0.5);
}
/* line 109, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .transition {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}
/* line 119, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .set-direction-ltr {
  direction: ltr !important;
}
/* line 123, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .set-radius-to-zero {
  border-radius: 0 !important;
}
/* line 126, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .set-padding-to-zero {
  padding: 0 !important;
}
/* line 129, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .set-margin-to-zero {
  margin: 0 !important;
}
/* line 132, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .set-cursor-to-default {
  cursor: default !important;
}
/* line 136, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .alone {
  border-radius: 5px 5px 5px 5px !important;
}
/* line 139, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .beginning {
  border-radius: 5px 5px 0px 0px !important;
}
/* line 142, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .middle, body .panel-heading {
  border-radius: 0px 0px 0px 0px !important;
}
/* line 145, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .last {
  border-radius: 0px 0px 5px 5px !important;
}
/* line 149, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .set-margin-top-to-zero {
  margin-top: 0px !important;
}
/* line 152, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .set-margin-right-to-zero {
  margin-right: 0px !important;
}
/* line 155, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .set-margin-bottom-to-zero {
  margin-bottom: 0px !important;
}
/* line 158, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .set-margin-left-to-zero {
  margin-left: 0px !important;
}
/* line 162, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .set-padding-top-to-zero {
  padding-top: 0px !important;
}
/* line 165, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .set-padding-right-to-zero {
  padding-right: 0px !important;
}
/* line 168, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .set-padding-bottom-to-zero {
  padding-bottom: 0px !important;
}
/* line 171, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .set-padding-left-to-zero {
  padding-left: 0px !important;
}
/* line 175, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .set-border-top-to-zero {
  border-top: 0px !important;
}
/* line 178, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .set-border-right-to-zero {
  border-right: 0px !important;
}
/* line 181, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .set-border-bottom-to-zero {
  border-bottom: 0px !important;
}
/* line 184, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .set-border-left-to-zero {
  border-left: 0px !important;
}
/* line 188, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .font-DroidKufi-Bold {
  font-family: 'DroidKufi-Bold' !important;
}
/* line 191, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .font-DroidKufi-Regular {
  font-family: 'DroidKufi-Regular' !important;
}
/* line 194, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .font-Open-Sans-300 {
  font-family: 'Open-Sans-300' !important;
}
/* line 197, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .font-Open-Sans-400 {
  font-family: 'Open-Sans-400' !important;
}
/* line 200, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .font-Open-Sans-600 {
  font-family: 'Open-Sans-600' !important;
}
/* line 203, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .font-Open-Sans-700 {
  font-family: 'Open-Sans-700' !important;
}
/* line 207, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body [class*='social'] {
  color: black;
  font-size: 1.3em;
}
/* line 211, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .facebook:hover {
  color: #173e91;
}
/* line 214, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .youtube:hover {
  color: #BD110A;
}
/* line 217, f:/Personal/Ruby on Rails/ruby3arabi/ruby3arabi/app/assets/stylesheets/application.css.scss */
body .e-mail:hover {
  color: #A96E16;
}
