<div class="panel panel-default alone">
  <div class="panel-body">
    <h1 id="title">سياسة الخصوصية</h1>

    <p><strong>روبي عربي</strong> يأخذ موضوع خصوصيتك بشكل جدي ، في الأسطر التالية نوضح لك ما هي المعلومات الشخصية التي نجمعها عنك و كيف نستخدمها .</p>

    <p class="lead">جمع المعلومات الروتينية</p>
    <p>مثل الكثير من المواقع على شبكة الانترنت ، يستخدم <strong>روبي عربي</strong> ملفات الدخول .</p>
    <p>هذه المعلومات تشمل ( ولكن ليس على سبيل الحصر ) : عناوين IP ، نوع المتصفح ، مزود خدمة الانترنت ( مقدمي خدمات الانترنت ) ، التاريخ / الوقت ، مصادر الزيارات / خروج الصفحات ، عدد النقرات لتحليل الاتجاهات و إدارة الموقع و مراقبة المستخدم أثناء التنقل في أرجاء الموقع ...</p>
    <p>ويتم جمعها فقط لأغراض إدارية و صيانة روتينية ، وهي غير مرتبطة بأية معلومات لتحديد هويتك .</p>

    <p class="lead">الكوكيز و معلومات الشبكة</p>
    <p><strong>روبي عربي</strong> يستخدم الكوكيز لتخزين المعلومات عن إعدادات الزوار ، و يتم تسجيل معلومات محددة عن المستخدم عند دخول أو زيارة إحدى الصفحات ، و يتم تخصيص محتوى صفحة الويب استنادا إلى نوع متصفح الزوار أو معلومات أخرى عندما يرسل الزائر معلومات عبر المتصفح .</p>

    <p class="lead">السيطرة على خصوصيتك</p>
    <p>لاحظ أنه يمكنك تعطيل/تفعيل الكوكيز على متصفحك إذا كنت تخاف على خصوصيتك ولكن لا ينصح بهذا الخيار لكل المواقع لأنه قد يتداخل مع إستخدامك لها ، لذلك ينصح بتخصيص التعطيل/التفعيل لكل موقع على حدا .</p>

    <p class="lead">معلومات الإتصال</p>
    <p class="set-margin-bottom-to-zero">إذا كنت بحاجة إلى أي مزيد من المعلومات أو لديك أية أسئلة عن سياسة الخصوصية ، لا تتردد في الاتصال بنا عن طريق البريد الالكتروني : <span class="font-Open-Sans-700">AliOsm1997@gmail.com</span> .</p>
  </div>
</div>