<div class="panel panel-default alone">
  <div class="panel-body">
    <h1 id="title">تعلم روبي !</h1>

    <blockquote class="blockquote-reverse">
      <p>
        <p class="lead">كلمة الموقع</p>
        <em>
          ’’ <strong>روبي عربي</strong> هو عبارة عن مجموعة شاملة من <strong>الملاحظات لدراسة لغة البرمجة روبي</strong> بالنسبة لكل من هو جديد في لغة البرمجة روبي "أو المحترفين منهم" و الذين يبحثون عن مقدمة ممتازة و فهم لثوابت و مفاهيم لغة البرمجة روبي ‘‘
        </em>
      </p>
    </blockquote>

    <p>تعرفت على لغة روبي عن طريق دورة على منصة <strong>رواق</strong> العربية للتعليم وكانت الدورة مقدمة في اللغة و كيفية استخدامها لبرمجة و تصميم مواقع الانترنت ، أعجبت باللغة وأثارت إهتمامي ; ومن بعدها بدأت تعلم اللغة بشيء من التفصيل أكثر و قررت تكوين هذا الموقع ليكون مرجع لمبادئ اللغة باللغة العربية و يكون بالفعل أول موقع عربي يهتم بمجتمع روبي ، محتوى هذا الموقع <strong>مجاني تعليمي للبرمجة بلغة روبي</strong> .</p>

    <p>إذا لاحظتم أن هذا الدليل التعليمي مفيد بالنسبة لكم أو وجدتم بعض الأخطاء في الكتابة أو المعلومات المذكورة نتمنى منكم مراسلتنا بتعليقاتكم و إقتراحاتكم على البريد الإلكتروني : <span class="font-Open-Sans-700">AliOsm1997@gmail.com</span> .</p>

    <p class="set-margin-bottom-to-zero">أما الأن ماذا تنتظر هي إنطلق إلى القسم الخاص بالدروس عبر الضغط على <strong><span class="glyphicon glyphicon-book" aria-hidden="true"></span> . دروس روبي</strong> الموجودة في أعلى الموقع و استمتع بأفضل دليل للغة روبي على المحتوى العربي .</p>
  </div>
</div>