<div class="panel panel-default beginning">
  <div class="panel-body">
    <p class="text-left">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <%= link_to "الحصول على المدخلات", ruby_tutorial_getting_input_path, class: "btn btn-primary btn-sm" %>
      |
      <%= link_to "الطرق", ruby_tutorial_methods_path, class: "btn btn-primary btn-sm" %>
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </p>

    <p class="text-left">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <%= link_to "الحصول على المدخلات", ruby_tutorial_getting_input_path, class: "btn btn-primary btn-sm" %>
      |
      <%= link_to "الطرق", ruby_tutorial_methods_path, class: "btn btn-primary btn-sm" %>
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </p>

    <h2 id="title">الأسماء</h2>
  </div>
</div>