<div class="panel panel-default beginning">
  <div class="panel-body">
    <p class="text-left">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <%= link_to "الحصول على المدخلات", ruby_tutorial_getting_input_path, class: "btn btn-primary btn-sm" %>
      |
      <%= link_to "الطرق", ruby_tutorial_methods_path, class: "btn btn-primary btn-sm" %>
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </p>

    <h2 id="title">الأسماء</h2>

    <p>تستخدم روبي الأسماء للإشارة إلى الثوابت ، المتغيرات ، الطرق ، الفئات و الوحدات ، فالحرف الأول من الاسم يساعد روبي على تمييز المقصود بهذا الاسم ، يوجد كلمات معينة هي التي لا يجب استخدامها كأسماء لما سبق ذكره ، ويمكنك استخدام حروف كبيرة أو حروف صغيرة أو أرقام أو شطرة سفلية (_) هذا الخليط هو الذي يكون تلك الأسماء .</p>

    <p class="lead">المتغيرات</p>

    <p>المتغيرات في روبي يمكنها أن تحتوي أي نوع من البيانات ، يمكنك إستخدام المتغيرات في برنامجك على روبي بدون أي حاجه لكتابة كلمة مفتاحية أو كتابة تنسيق نحوي معين للتعريف ، أسماء المتغيرات في روبي هي نفسها التي تحدد المجال الخاص بهذا المتغير ( محلي ، عام ، الحالية ... إلخ ) .</p>

    <ul class="lists">
      <li>المحلية ( <strong class="font-Open-Sans-300">local</strong> ) - ( يعرف ضمن كائن ) يتكون اسمه من حروف صغيرة أو شرطة صغيرة متبوعة بالاسم ( <strong class="font-Open-Sans-300">benghazi , hit_and_run , _a</strong> ) .</li>
      <li>الحالية ( <strong class="font-Open-Sans-300">instance</strong> ) - ( يعرف ضمن كائن ينتمي دائما لفئة معينة ) اسمه يبدأ بعلامة (@) يتبعه اسم المتغير ( <strong class="font-Open-Sans-300">sign , @_ , @var@</strong> ) .</li>
      <li>متغيرات الفئة ( <strong class="font-Open-Sans-300">class variables</strong> ) - ( يعرف ضمن فئة ) اسمه يبدأ بإثنان من العلامة (@) على هذا النحو (@@) يتبعه اسم المتغير "شبيه إلى حد ما بالمتغيرات الحالية" ( <strong class="font-Open-Sans-300">sign , @@_ , @@var@@</strong> ) ، متغير الفئة يتم مشاركته مع كل الكائنات من هذه الفئة ، نسخة واحدة منه تحتفظ بقيمتها بالنسبة لكل الكائنات ، <em>جدير بالذكر أن متغيرات الفئة قليلة الإستخدام في برامج روبي</em> .</li>
      <li>العامة ( <strong class="font-Open-Sans-300">global</strong> ) - تبدأ بعلامة ($) متبوعة بالاسم ، ويمكنك تشكيله بإستخدام "$-" متبوعة بحرف واحد ( <strong class="font-Open-Sans-300">counter, $COUNTER, $-x$</strong> ) ، روبي قامت بتعريف متغيرات عامة كثيرة مثل <strong class="font-Open-Sans-300">_$</strong> و <strong class="font-Open-Sans-300">K-$</strong> .</li>
    </ul>

    <p class="lead">الثوابت</p>

    <p>اسم الثوابت يبدأ بحرف كبير يليه باقي أحرف الاسم ، أسماء الفئات و الوحدات هي ايضاً ثوابت ( اسم وحدة : <strong class="font-Open-Sans-300">MyMath</strong> ، اسم فئة : <strong class="font-Open-Sans-300">MyBenghazi</strong> ، اسم ثابت : <strong class="font-Open-Sans-300">PI</strong>=3.1416 ) .</p>

    <p class="lead">أسماء الطرق</p>

    <p>يجب أن تبدأ أسماء الطرق بحرف صغير أو شرطة سفلية (_) ، "؟" ، "!" و "=" متاحة أثناء تسمية الطرق ، وهذه العلامات هي الوحيدة المتاحة كنهاية لاسم الطريقة  .</p>
  </div>
</div>