<div class="panel panel-default beginning">
  <div class="panel-body">
    <p class="text-left">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <%= link_to "الملخص الثاني", ruby_tutorial_summary_2_path, class: "btn btn-primary btn-sm" %>
      |
      <%= link_to "المزيد في النصوص", ruby_tutorial_more_on_strings_path, class: "btn btn-primary btn-sm" %>
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </p>

    <h2 id="title">روبي <strong class="font-Open-Sans-400">ri tool</strong></h2>

    <p></p>
  </div>
</div>