<div class="panel panel-default beginning">
  <div class="panel-body">
    <p class="text-left">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <%= link_to "الطرق", ruby_tutorial_methods_path, class: "btn btn-primary btn-sm" %>
      |
      <%= link_to sanitize('روبي <strong class="font-Open-Sans-300">ri tool</strong>'), ruby_tutorial_ruby_ri_tool_path, class: "btn btn-primary btn-sm" %>
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </p>

    <h2 id="title">الملخص الثاني</h2>

    <ol class="lists">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ol>

    <p class="text-left set-margin-bottom-to-zero">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <%= link_to "الطرق", ruby_tutorial_methods_path, class: "btn btn-primary btn-sm" %>
      |
      <%= link_to sanitize('روبي <strong class="font-Open-Sans-300">ri tool</strong>'), ruby_tutorial_ruby_ri_tool_path, class: "btn btn-primary btn-sm" %>
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </p>
  </div>
</div>