<div class="panel panel-default alone">
  <div class="panel-body">
    <p class="text-left">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <%= link_to "المتغيرات", ruby_tutorial_variables_path, class: "btn btn-primary btn-sm" %>
      |
      <%= link_to "المجالات", ruby_tutorial_scope_path, class: "btn btn-primary btn-sm" %>
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </p>

    <h2 id="title">الملخص الأول</h2>

    <ol class="lists set-margin-bottom-to-zero">
      <li>نحن نعمل بروبي الإصدار <strong>1.9.3</strong> على منصة ويندوز ، لكن هذه الدروس تطبيقها من قبل مستخدمي لينكس و ماك .</li>
      <li>روبي لغة مفسرة .</li>
      <li>في روبي ، هناك أكثر من طريقة لحل المشكلة نفسها .</li>
      <li>تنسيق الكود الخاص بك متاح لك بشكل كبير ، لكن عندما تستخدم مسافتان كبادئة لأسطر كودك ، تجعل من نشر برنامجك أسهل بين أصدقائك ، إذا كنت ترغب في نشر تعليماتك البرمجية .</li>
      <li>ملفات روبي تمتلك الإمتداد <strong class="font-Open-Sans-400">rb.</strong> ، أما في ويندوز قد تمتلك ملفات روبي أحياناً الإمتداد <strong class="font-Open-Sans-400">rbw.</strong> .</li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ol>
  </div>
</div>